# Maven build output
target/

# Git
.git
.gitignore

# IDEs
.idea/
*.iml
.vscode/

# OS files
.DS_Store
Thumbs.db

# Node (por si acaso tienes frontend o herramientas)
node_modules/

# Logs
*.log

# Docker
docker-compose.yml