services:

  mongo:
    image: mongo:7
    container_name: blackjack-mongo
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db

  mysql:
    image: mysql:8.4
    container_name: blackjack-mysql
    environment:
      MYSQL_DATABASE: blackjack
      MYSQL_USER: blackjack
      MYSQL_PASSWORD: blackjack123
      MYSQL_ROOT_PASSWORD: root12345
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./docker/mysql/schema.sql:/docker-entrypoint-initdb.d/schema.sql


    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10

  api:
    build: .
    container_name: blackjackV2-api
    ports:
      - "8081:8081"
    environment:
      SPRING_PROFILES_ACTIVE: docker
    depends_on:
      mysql:
        condition: service_healthy
      mongo:
        condition: service_started

volumes:
  mongo_data:
  mysql_data: